#head1{
    background-color: blue;
    margin-bottom: 0%;

  }
#head2{
    background-color: violet;
    margin-bottom: 0%;
  }
#head3{
    background-color: blue;
    margin-bottom: 0%;
  }
#head4{
    background-color:violet ;
    margin-bottom: 0%;
  }
#head5{
    background-color: blue;
    margin-bottom: 0%;
  }
#head6{
    background-color: violet;
    margin-bottom: 0%;
  }
#image{
    width:250px;
    margin-top: 20px;
}  
            